#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@import "tailwindcss";
@plugin "daisyui";

html,
body {
  margin: auto;
  padding: 0;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}
#root {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out forwards;
  }
}


