#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@import "tailwindcss";
@plugin "daisyui";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}
#root {
  margin: 0;
  padding: 0;
}
